:root {
  --border-radius: 2rem;
  --card-bg: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
  --bg: #000;
  --txt: #fff;
  --hoverbg:
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* border: 1px solid red; */
}

body,
html {
  background-color: var(--bg);
}